.pagination {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 20px;
  gap: 20px;
}

.pagination button {
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
}

.pagination button:hover {
  font-size: 32px;
  /* col */
}
