.pagination {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 20px;
  gap: 20px;
}

.pagination button {
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
  color: #726c6c;
}

.pagination button:hover {
  font-size: 32px;
  color: #0a0a0b;
}

.pagination button .active {
  color: #0a0a0b;
  font-size: 32px;
}
